<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Harry Potter Characters</title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of Harry Potter characters">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="styles.css">
  <script src="plotly-2.16.1.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
</head>

<body>
  <%- include ('global/navbar'); %>
  <%- include ('global/header'); %>
  <header>
    <h1>U.S. Colleges</h1>
  </header>
  <section id="charcter-table">
    <table>
      <tr>
        <th>Name</th>
        <th>Applications</th>
        <th>Acceptances</th>
        <th>Students Enrolled</th>
        <th>Percent of students from top 25% of HS class</th>
        <th>Percent of faculty with PHDs</th>
        <th>Student faculty ratio</th>
        <th>Instructional expenditure per student</th>
        <th>Graduation Rate</th>
      </tr>
      <% var acceptArray = [];
         var instArray = [];

         for(col in data){
           acceptArray.push(data[col].accept_rate);
           instArray.push(data[col].inst_avg);
        %>
      <tr>
        <td><a href="<%=col%>.html"><%= col %></a></td>
        <td><%= data[col].apps %></td>
        <td><%= data[col].accept %></td>
        <td><%= data[col].enroll %></td>
        <td><%= data[col].top25perc %></td>
        <td><%= data[col].phd %></td>
        <td><%= data[col].s_f_ratio %></td>
        <td><%= data[col].expend %></td>
        <td><%= data[col].grad_rate %></td>
      </tr>
      <div id="tester" style="width:80%;height:35%;"></div>
      <script>
        var trace1 = {
          x: [
            <%= acceptArray %>
          ],
          y: [
            <%= instArray %>
          ],
          mode: 'markers',
          type: 'scatter'
        };

        var data = [trace1];

        Plotly.newPlot('tester', data);
      </script>
      <%}%>

    </table>
  </section>


  <%- include ('global/footer');  %>

</body>

</html>
