<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>US Colleges</title>
  <meta name="author" content="You">
  <meta name="description" content="A compendium of U.S. Colleges">
  <meta content="text/html" http-equiv="Content-type" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="plotly-2.16.1.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
  <%- include ('global/navbar'); %>
  <%- include ('global/header'); %>
  <header>
    <h1>U.S. Colleges</h1>
  </header>
    <h2>What we learned from the data</h2>
    <ol>
      <li>Generally, the higher the admit rate, the lower the institutional statistics</li>
      <li>The vast majority of colleges listed have relatively high admit rates</li>
      <li>In most cases, the number of enrolling students was a small fraction of the accepted sdudents</li>
    </ol>
  <section id="charcter-table">
    <table>
      <tr>
        <th>Name</th>
        <th>Applications</th>
        <th>Acceptances</th>
        <th>Students Enrolled</th>
        <th>Percent of students from top 25% of HS class</th>
        <th>Percent of faculty with PHDs</th>
        <th>Student faculty ratio</th>
        <th>Instructional expenditure per student</th>
        <th>Graduation Rate</th>
      </tr>
      <% var acceptArray = [];
         var instArray = [];

         for(col in data){
           acceptArray.push(data[col].accept_rate);
           instArray.push(data[col].inst_avg);
        %>
      <tr>
        <td><a href="<%=col%>.html"><%= col %></a></td>
        <td><%= data[col].apps %></td>
        <td><%= data[col].accept %></td>
        <td><%= data[col].enroll %></td>
        <td><%= data[col].top25perc %></td>
        <td><%= data[col].phd %></td>
        <td><%= data[col].s_f_ratio %></td>
        <td><%= data[col].expend %></td>
        <td><%= data[col].grad_rate %></td>
      </tr>
      <div id="tester" style="width:80%;height:80%;"></div>
      <script>
        var trace1 = {
          x: [
            <%= acceptArray %>
          ],
          y: [
            <%= instArray %>
          ],
          mode: 'markers',
          type: 'scatter',

        };

        var data = [trace1];

        var layout = {
  title: {
    text:'Instutional Average Vs. Admissions Rate for 777 Universities',
    font: {
      family: 'Courier New, monospace',
      size: 24
    },
    xref: 'paper',
    x: 0.05,
  },
  xaxis: {
    title: {
      text: 'Admissions Rate'
    },
  },
  yaxis: {
    title: {
      text: 'Institutional Average'
    }
  }
};

        Plotly.newPlot('tester', data,layout);
      </script>
      <%}%>

    </table>
  </section>


  <%- include ('global/footer');  %>
</body>

</html>
